// @import 'normalize.css';
@import 'bulma';

// Homepage styling
#home-img {
  height: 100vh;
  width: 100vw;
  background-size: contain;
}
// Navbar styling

// Profile page

// Recipes Index
.card {
    display:flex;
    flex-direction: column;
}
.card-footer {
    margin-top: auto;
}


// Recipes Show

// register

// login
